* {
    box-sizing: border-box;
    
}

body {
    padding: 0;
    margin: 0;
    background: #1F2833;
}

.top_container {
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.title_container {
    
    background-color: #66FCF1;
    height: 100px;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 80px;
    border: solid;
    border-radius: 10px;
    margin-top: 10px;

}

.add_container {
    background-color: #66FCF1;
    height: 100px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-radius: 10px;
}

button {
    background: #9dadac;
    font-size: 30px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-radius: 5px;
}

button:hover {
    background: gray;
}

.input_modal_container {
    background: #66FCF1;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    display: none;
    z-index: 1;
    position: fixed; 
    border: solid;
    border-radius: 10px;
}


.input_container {
    background: #66FCF1;
    height: 200px;
    width: 400px;
    display: flex;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: solid;
    border-radius: 5px;
}


.check_box_container {
    width: 300px;
    /* background: blue; */
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}


#checkbox {
    height: 20px;
    width: 30px;
}

input {
    font-size: 30px;
    border-color: black;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


.button_container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}


.bottom_container {
    height: 700px;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.very_bottom_container {
    height: 200px;
    width: 100%;
    display: flex;

}


.books_container {
    background: #66FCF1;
    height: 210px;
    width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;
    gap: 20px;
    border: solid;
    border-radius: 10px;
}

.read_container {
    height: 30px;
    width: 150px;
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    border-bottom: solid;
}

#display_checkbox {
    height: 20px;
    width: 30px;
}


        /*Test Book  */



  /* #books { 
    background: blue;
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 50px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
}  */



.remove {
    font-size: 30px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    left: 20px;
    margin-bottom: 2px;
}





